<h1>All Users</h1>

<ul id="user-list">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.username, user_url(user) %>
      <span id="follow-buttons"
            <%= 'class="can-follow"'.html_safe if Friendship.can_friend?(current_user, user) %>
            <%= 'class="can-unfollow"'.html_safe if Friendship.can_unfriend?(current_user, user) %>>
        <button class="follow" data-user_id="<%= user.id %>">Follow</button>
        <button class="un-follow" data-user_id="<%= user.id %>">
          Un-Follow
        </button>
      </span>
    </li>
  <% end %>
</ul>