<% form_action = action == :new ? users_url : user_url(user) %>
<% form_method = action == :new ? 'POST' : 'PATCH' %>
<% form_submit = action == :new ? 'Sign Up!' : 'Edit Info!' %>


<form action="<%= form_action %>" method="post" accept-charset="utf-8">

  <input type="hidden" name="authenticity_token"
         value="<%= form_authenticity_token %>" id="authenticity_token">

  <input type="hidden" name="_method" value="<%= form_method %>">

  <label for="username">Username</label>
  <input type="text" name="user[username]"
                     value="<%= user.username %>"
                     id="username">

  <label for="email">Email</label>
  <input type="text" name="user[email]" value="<%= user.email %>" id="email">

  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password">

  <p><input type="submit" value="<%= form_submit %>"></p>
</form>


<%= link_to "Back", :back %>