<h1><%= @cat.name %></h1>

<h3>Cat Stats</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Sex</th>
    <th>Color</th>
    <th>Birthdate</th>
  </tr>
  <tr>
    <td><%= @cat.name %></td>
    <td><%= @cat.age %></td>
    <td><%= @cat.sex %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.birthdate%></td>
  </tr>
</table>


<h3>Cat Requests</h3>

<% @cat.cat_rental_requests.order(:start_date).each do |rental| %>
  <p>
    <div style="float: left">
      <%= "#{rental.start_date} to #{rental.end_date}:  #{rental.status}" %>
    </div>
    <% if rental.status == 'PENDING' %>

    <%= button_to "approve", approve_cat_rental_request_url(rental),
        method: :patch, style: "float: left", class: "btn" %>
    <%= button_to "deny", deny_cat_rental_request_url(rental),
        method: :patch, style: "float: left", class: "btn"  %>
    <% elsif rental.status == 'DENIED' %>
    <%= button_to "delete", cat_rental_request_url(rental),
        method: :delete, style: "float: left", class: "btn"  %>
    <% end %>
    <br/>
  </p>
<% end %>
</ul>

<%= link_to "Edit Cat", edit_cat_url(@cat) %><br/>
<%= link_to "Back to Cats", root_url %>

